<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyGet-neo" value="https://www.myget.org/F/neo/api/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="NuGet.org">
      <package pattern="*" />
      <package pattern="Neo.SmartContract.*" />
    </packageSource>
    <packageSource key="MyGet-neo">
      <package pattern="Neo" />
      <package pattern="Neo.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
