<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local" value="./deps/" />
    <add key="ngd-ent-artifacts" value="https://pkgs.dev.azure.com/ngdenterprise/Build/_packaging/public/nuget/v3/index.json" />
    <add key="neo-monorepo" value="https://neomonorepopackages.blob.core.windows.net/packages/index.json" />
  </packageSources>
</configuration>