name: .NET Core Test and Publish

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

env:
  DOTNET_VERSION: 10.0.x
  DOTNET_TEST_PARAMETERS: --no-build /p:CollectCoverage=true -l "console;verbosity=detailed"
  COVERLET_EXCLUDE_COVERAGE: /p:Exclude=\"[Neo.SmartContract.TestEngine]*,[Neo.Disassembler.CSharp]*,[Neo.Compiler.CSharp.UnitTests]*,[Neo]*,[Neo.IO]*,[Neo.Json]*,[Neo.VM]*,[Neo.Extensions]*,[Neo.Cryptography.BLS12_381]*\"
  COVERLET_OUTPUT: /p:CoverletOutput=${{ github.workspace }}/coverage-join/
  COVERLET_MERGE_WITH: /p:MergeWith=${{ github.workspace }}/coverage-join/coverage.json

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  Test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Check format
      run: |
        dotnet format --no-restore --verify-no-changes --verbosity diagnostic
    - name: Build Neo.Compiler.CSharp
      run: dotnet build ./src/Neo.Compiler.CSharp/Neo.Compiler.CSharp.csproj
    - name: Build Neo.SmartContract.Template and test templates
      run: |
        dotnet pack ./src/Neo.SmartContract.Template/Neo.SmartContract.Template.csproj --configuration Debug
        dotnet new install ./src/Neo.SmartContract.Template/bin/Debug/Neo.SmartContract.Template.*.nupkg
        dotnet new neocontractnep17 -n Nep17Contract -o ./src/Neo.SmartContract.Template/bin/Debug/nep17/ --force
        dotnet new neocontractowner -n Ownable -o ./src/Neo.SmartContract.Template/bin/Debug/ownable/ --force
        dotnet new neocontractoracle -n OracleRequest -o ./src/Neo.SmartContract.Template/bin/Debug/oracle/ --force
        dotnet new uninstall Neo.SmartContract.Template
        dotnet remove ./src/Neo.SmartContract.Template/bin/Debug/nep17/Nep17Contract.csproj package Neo.SmartContract.Framework
        dotnet add    ./src/Neo.SmartContract.Template/bin/Debug/nep17/Nep17Contract.csproj reference ./src/Neo.SmartContract.Framework/Neo.SmartContract.Framework.csproj
        dotnet remove ./src/Neo.SmartContract.Template/bin/Debug/ownable/Ownable.csproj package Neo.SmartContract.Framework
        dotnet add    ./src/Neo.SmartContract.Template/bin/Debug/ownable/Ownable.csproj reference ./src/Neo.SmartContract.Framework/Neo.SmartContract.Framework.csproj
        dotnet remove ./src/Neo.SmartContract.Template/bin/Debug/oracle/OracleRequest.csproj package Neo.SmartContract.Framework
        dotnet add    ./src/Neo.SmartContract.Template/bin/Debug/oracle/OracleRequest.csproj reference ./src/Neo.SmartContract.Framework/Neo.SmartContract.Framework.csproj
        dotnet ./src/Neo.Compiler.CSharp/bin/Debug/net10.0/nccs.dll ./src/Neo.SmartContract.Template/bin/Debug/nep17/Nep17Contract.csproj -o ./tests/Neo.SmartContract.Template.UnitTests/templates/neocontractnep17/Artifacts/
        dotnet ./src/Neo.Compiler.CSharp/bin/Debug/net10.0/nccs.dll ./src/Neo.SmartContract.Template/bin/Debug/ownable/Ownable.csproj -o ./tests/Neo.SmartContract.Template.UnitTests/templates/neocontractowner/Artifacts/
        dotnet ./src/Neo.Compiler.CSharp/bin/Debug/net10.0/nccs.dll ./src/Neo.SmartContract.Template/bin/Debug/oracle/OracleRequest.csproj -o ./tests/Neo.SmartContract.Template.UnitTests/templates/neocontractoracle/Artifacts/
    - name: Build Solution
      run: dotnet build ./neo-devpack-dotnet.sln
    - name: Add package coverlet.msbuild
      run: find tests -name *.csproj | xargs -I % dotnet add % package coverlet.msbuild
    - name: Test Neo.Compiler.CSharp.UnitTests
      run: |
        dotnet test ./tests/Neo.Compiler.CSharp.UnitTests \
        ${{ env.DOTNET_TEST_PARAMETERS }} \
        ${{ env.COVERLET_OUTPUT }} \
        ${{ env.COVERLET_EXCLUDE_COVERAGE }} \
    - name: Test Neo.SmartContract.Framework.UnitTests
      run: |
        dotnet test ./tests/Neo.SmartContract.Framework.UnitTests \
        ${{ env.DOTNET_TEST_PARAMETERS }} \
        ${{ env.COVERLET_OUTPUT }} \
        ${{ env.COVERLET_MERGE_WITH }} \
        ${{ env.COVERLET_EXCLUDE_COVERAGE }} \
    - name: Test Neo.SmartContract.Testing.UnitTests
      run: |
        dotnet test ./tests/Neo.SmartContract.Testing.UnitTests \
        ${{ env.DOTNET_TEST_PARAMETERS }} \
        ${{ env.COVERLET_OUTPUT }} \
        ${{ env.COVERLET_MERGE_WITH }} \
        ${{ env.COVERLET_EXCLUDE_COVERAGE }} \
    - name: Test Neo.SmartContract.Template.UnitTests
      run: |
        dotnet test ./tests/Neo.SmartContract.Template.UnitTests \
        ${{ env.DOTNET_TEST_PARAMETERS }} \
        ${{ env.COVERLET_MERGE_WITH }} \
        ${{ env.COVERLET_EXCLUDE_COVERAGE }} \
        /p:CoverletOutput=${{ github.workspace }}/coverage/lcov \
        /p:CoverletOutputFormat=lcov
    - name: Coveralls
      uses: coverallsapp/github-action@v2.3.6
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        format: lcov
        file: ${{ github.workspace }}/coverage/lcov.info
